<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tremend QA Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tremend QA Quiz</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/welcome">Start a quiz</a></li>
            <li class="active"><a href="/dbcontent">Quiz results</a></li>
            <li><a href="/dbdelete">Delete database</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-3" style="padding-bottom: 10%;">
        </div>
        <div class="col-sm-6" style="padding-bottom: 10%;">
            <h1>Quiz Results</h1>
            <!--<a href="/welcome" class="btn btn-primary" role="button">Start the test.</a>-->
            <!--<a href="/dbcontent" class="btn btn-primary" role="button">See previous results.</a>-->
            <!--<a href="/dbdelete" class="btn btn-primary" role="button">Delete database content.</a>-->

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <span th:each="candidate: ${dbContent}">
                    <tr>
                            <td th:text="${candidate[0]} ">John</td>
                            <td th:text="${candidate[1]} ">John</td>
                            <td th:text="${candidate[2]} ">John</td>
                    </tr>
                </span>
                </tbody>
            </table>


        </div>
        <div class="col-sm-3" style="padding-bottom: 10%;">
        </div>
    </div>
</div>
</body>
</html>