<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tremend QA Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
    </meta>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tremend QA Quiz</a>
        </div>
        <p class="navbar-text">
            <span th:text="*{formdata.firstname} "></span>
            <span th:text="*{formdata.lastname}"></span>
        </p>
        <p class="navbar-text">
            <span class="glyphicon glyphicon-time"></span>
            Starting time:
        </p>
        <p class="navbar-text">
            <span th:text="*{formdata.dateFormatted}"></span>
        </p>
        <p class="navbar-text">
            Remaining questions:
            <span th:text="${(unansweredQuestions)}"></span>
        </p>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="padding-bottom: 10%;">
            <h3>Question
                <mark><span th:text="*{(formdata.questionIndex+1)}"></span></mark>
                :
            </h3>
            <img th:src="@{${'/images/'+formdata.currentQuestion+'.gif'}}" alt="Question" class="img-responsive"/>
        </div>
        <div class="col-sm-6">
            <h3>Your answer:</h3>
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post">
                <p>
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="1"
                           required="required"/> 1.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="2"/> 2.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="3"/> 3.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="4"/> 4.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="5"/> 5.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="6"/> 6.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="7"/> 7.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="8"/> 8.
                    <input type="hidden" class="radio-inline" th:field="*{questionIndex}" th:value="*{questionIndex}"/>
                </p>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn">Reset</button>
            </form>
            <div style="clear:both; height:20px;"></div>

            <!--previous question button -->
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post"
                  style="display:inline; margin-top:70px;">
                <input type="hidden" name="answer" th:value="previous"/>
                <button type="submit" class="btn" style="margin-bottom: 10px"> &#8678; Previous</button>
            </form>

            <!--skip question button -->
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post" style="display:inline;">
                <input type="hidden" name="answer" th:value="skip"/>
                <button type="submit" class="btn" style="margin-bottom: 10px">Skip &#8680;</button>
            </form>

            <h3 style="margin-top:70px;">Remaining questions:
                <mark><span th:text="${(unansweredQuestions)}"></span></mark>
            </h3>


            <!--question selection buttons-->
            <span th:each="jumpButton : ${jumpButtons}">
                     <span th:style="${(jumpButton.rowCss)}">
                        <form action="#" th:action="@{/query}" th:object="${formdata}" method="post"
                              style="float:left;" role="form">
                                <input type="hidden" name="questionIndex" th:value="${jumpButton.index}"/>
                                <input type="hidden" name="answer" th:value="jump"/>
                                <button type="submit" th:class="${(jumpButton.bootstrapClass)}"
                                        style="margin-right:5px;" th:value="${jumpButton.index+1}">
                                    <span th:text="${jumpButton.index+1}"></span>
                                </button>
                        </form>
                     </span>
            </span>
            <div style="clear:both; height:20px;"></div>

            <!--quit button -->
            <a href="/thankyou" class="btn btn-primary" role="button" style="clear:both">Save and quit</a>

        </div>
    </div>
    <div class="row">
    </div>
</div>
</body>
</html>