<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tremend QA Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

    </style>
    </meta>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tremend QA Quiz</a>
        </div>
        <p class="navbar-text">
            <span th:text="*{formdata.firstname} "></span>
            <span th:text="*{formdata.lastname}"></span>
        </p>
        <p class="navbar-text">
            <span class="glyphicon glyphicon-time"></span>
            Starting time:
        </p>
        <p class="navbar-text">
            <span th:text="*{formdata.dateFormatted}"></span>
        </p>
        <p class="navbar-text">
            Remaining questions:
            <span th:text="${(unansweredQuestions)}"></span>
        </p>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="padding-bottom: 10%;">
            <h3>Question <span th:text="*{(formdata.questionIndex+1)}"></span>:</h3>
            <img th:src="@{${'/images/'+formdata.currentQuestion+'.gif'}}" alt="Question" class="img-responsive"/>
        </div>
        <div class="col-sm-6">
            <h3>Your answer:</h3>
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post">
                <p>
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="1"
                           required="required"/> 1.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="2"/> 2.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="3"/> 3.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="4"/> 4.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="5"/> 5.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="6"/> 6.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="7"/> 7.
                    <input type="radio" class="radio-inline" th:field="*{answer}" checked="unchecked" th:value="8"/> 8.
                    <input type="hidden" class="radio-inline" th:field="*{questionIndex}" th:value="*{questionIndex}"/>
                    <input type="hidden" class="radio-inline" th:field="*{firstname}" value="*{firstname}"/>
                    <input type="hidden" class="radio-inline" th:field="*{lastname}" value="*{firstname}"/>
                </p>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn">Reset</button>
            </form>
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post" style="display:inline;">
                <input type="hidden" th:field="*{answer}" th:attr="name='skip value'" value="0"/>
                <input type="hidden" th:field="*{questionIndex}" th:value="*{questionIndex}"/>
                <input type="hidden" th:field="*{firstname}" value="*{firstname}"/>
                <input type="hidden" th:field="*{lastname}" value="*{lastname}"/>
                <p style="margin-top: 10px">or</p>
                <button type="submit" class="btn" style="margin-bottom: 10px">Skip</button>
                <p>You can answer skipped questions a bit later.</p>
            </form>
            <h3 style="margin-top:70px;">Remaining questions: <span th:text="${(unansweredQuestions)}"></span></h3>

            <span th:each="row : ${rows}">
                     <span th:style="${(row.rowCss)}">
                        <form action="#" th:action="@{/query}" th:object="${formdata}" method="post"
                              style="float:left;">
                            <p>
                                <input type="text" th:field="*{answer}" value="10" />
                                <input th:type="text" th:field="*{questionIndex}" th:value="${row.index}" />
                                <input type="hidden" th:field="*{firstname}"/>
                                <input type="hidden" th:field="*{lastname}" th:value="*{lastname}"/>
                            </p>
                            <p>
                                <input type="submit" th:class="${(row.bootstrapClass)}"
                                       style="margin-right:5px;" th:value="${row.index+1}"/>
    </p>
    </form>
    </span>
    </span>
        </div>
    </div>
    <div class="row">
        <!--<p style="text-align: center">Copyright 2018</p>-->
    </div>
</div>
</body>
</html>