<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tremend QA Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Tremend QA Quiz</a>
        </div>
        <!--<p class="navbar-text">-->
        <!--<span th:text="*{formdata.firstname} "></span>-->
        <!--<span th:text="*{formdata.lastname}"></span>-->
        <!--</p>-->
        <!--<p class="navbar-text">-->
        <!--<span class="glyphicon glyphicon-time"></span>-->
        <!--Starting time:-->
        <!--</p>-->
        <!--<p class="navbar-text">-->
        <!--<span th:text="*{formdata.dateFormatted}"></span>-->
        <!--</p>-->
        <!--<p class="navbar-text">-->
        <!--Remaining unanswered questions:-->
        <!--<span th:text="${(unansweredQuestions)}"></span>-->
        <!--</p>-->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="padding-bottom: 10%;">
        </div>
        <div class="col-sm-4" style="padding-bottom: 10%;">
            <h1>Welcome. </h1>
            <form action="#" th:action="@{/query}" th:object="${formdata}" method="post">
                <p><input type="text" th:field="*{firstname}" placeholder="First name" required="required"/></p>
                <p><input type="text" th:field="*{lastname}" placeholder="Last name" required="required"/></p>
                <p><input type="submit" class="btn btn-primary" value="Start yor quiz"/>
                    <input type="reset" class="btn" value="Reset"/>
                </p>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
</body>
</html>