<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tremend QA Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <h1>Welcome. </h1>
        <form action="#" th:action="@{/query}" th:object="${formdata}" method="post">
            <p><input type="text" th:field="*{firstname}" placeholder="First name"/></p>
            <p><input type="text" th:field="*{lastname}" placeholder="Last name"/></p>
            <p><input type="submit" value="Start yor quiz"/>
                <input type="reset" value="Reset"/>
            </p>
        </form>
        <a href="/dbcontent">See previous results.</a>
    </div>

</div>
</body>
</html>